@font-face {
  font-family: 'aileron bold';
  src: url('./fonts/aileron-bold-webfont.woff2') format('woff2'),
       url('./fonts/aileron-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileron regular';
  src: url('./fonts/aileron-regular-webfont.woff2') format('woff2'),
       url('./fonts/aileron-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pier sans bold';
  src: url('./fonts/piersans-bold-webfont.woff2') format('woff2'),
       url('./fonts/piersans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pier sans regular';
  src: url('./fonts/piersans-regular-webfont.woff2') format('woff2'),
       url('./fonts/piersans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'zona pro';
  src: url('./fonts/zonapro-extralight-webfont.woff2') format('woff2'),
       url('./fonts/zonapro-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



* {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: "open sans", sans-serif;
}

h1 {
  font-family: "aileron bold", sans-serif;
}

h2, h3, h5 {
  font-family: "pier sans bold", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("./images/header_background.png") no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

header .logo {
  position: absolute;
  top: 20px;
  left: 20px;
 
}

header .logo img {
  width: 120px;
}


header .col p {
  margin-top: 0;
  margin-bottom: .4rem;
  font-weight: lighter;
  line-height: 1.8;
  margin: 1rem 0 2.2rem 0;
}

header .col button {
  background-color: #872832;
  align-self: flex-start;
  padding: 0.6rem 1.5rem;
  color: #fff;
  border: 0;
  border-radius: 6px;
}

section {
  padding: 6rem ;
}

section.maintenance, section.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

section.maintenance h2 {
  font-family: "pier sans regular";
}

section.maintenance img {
  width: 40rem;
}

section.help img {
  width: 30rem;
}

section.contact input {
  width: 60%;
  
}

section.contact textarea, section.contact input {
  padding: .7rem .9rem;
  border: 1px solid #ede5d9;
  border-radius: 6px;
  background-color: #faf9f7;
}

section.contact textarea:focus, section.contact input:focus {
  outline: none;
}

section.contact button {  
  border: 0;
  border-radius: 6px;
  background-color: #872832;
  color: #fff;
  font-family: "open sans";
  font-weight: bold;
  padding: .5rem 2rem;
}


